[submodule "support/vendor/oh-my-zsh"]
	path = support/vendor/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/irblack"]
	path = vim/bundle/irblack
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/getafe"]
	path = vim/bundle/getafe
	url = https://github.com/larssmit/vim-getafe
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/github"]
	path = vim/bundle/github
	url = https://github.com/ricardovaleriano/vim-github-theme
[submodule "vim/bundle/tomorrow"]
	path = vim/bundle/tomorrow
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
